<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Job</title>
</head>
<body>

    <h1>Edit Job</h1>

    <form action="/updateJob" method="post" th:object="${job}">
        <input type="hidden" th:field="*{id}">

        Job Title: <input type="text" th:field="*{title}"><br><br>
        Company: <input type="text" th:field="*{company}"><br><br>
        Location: <input type="text" th:field="*{location}"><br><br>

        <button type="submit">Update Job</button>
    </form>

    <br>
    <a href="/jobs">Back to Jobs</a>

</body>
</html>